.desktop {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  background-image: url('/wallpaper1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
