.closeButton {
  background-color: var(--red);
  color: var(--red-dark);
  border: none;
  cursor: pointer;
  padding: 3px;
  margin: 0;
  border-radius: 50%;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
