.finder {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 500px;
  background-color: var(--accent);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.finderContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.sidebar {
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-color: var(--accent);
  border-right: 1px solid var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.sidebarHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid var(--dark-gray);
}

.sidebarContent {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.sidebarList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebarListItem {
  margin: 0;
  padding: 0;
}

.sidebarListItem > * {
  margin: 0;
  padding: 0;
}
