.header {
  width: 100%;
  color: var(--primary);
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 18px;
  height: 18px;
  object-fit: contain;
  object-position: center;
  margin-right: 16px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}

.navList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
