.dock {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  z-index: 100;
  border: 0.5px solid var(--transparent-white);
  background-color: var(--primary);
  border-radius: 16px;
}

.dockItem {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;
  position: relative;
  padding: 0;
  object-fit: contain;
  object-position: center;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.dockItemName {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  border: 0.5px solid var(--transparent-white);
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: var(--primary) transparent transparent transparent;
  }
  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-width: 9px 9px 0 9px;
    border-style: solid;
    border-color: var(--transparent-white) transparent transparent transparent;
    /* z-index: 2; */
  }
}

.dockItem:hover .dockItemName {
  opacity: 1;
}
