:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  color-scheme: light dark;
  --black: rgb(36, 36, 36);
  --white: #ffffff;
  --dark-grey: rgb(54, 54, 54);
  --gray: #808080;
  --blue: #646cff;
  --red: rgb(214, 73, 73);
  --red-dark: rgb(152, 51, 51);

  --transparent-white: rgba(255, 255, 255, 0.5);
  --transparent-black: rgba(36, 36, 36, 0.5);
  --transparent-dark-grey: rgba(54, 54, 54, 0.85);

  --primary: var(--black);
  --secondary: var(--white);
  --accent: var(--gray);
  --transparent-primary: var(--transparent-black);
  --transparent-secondary: var(--transparent-white);
  --transparent-accent: var(--transparent-dark-grey);

  --border: 0.5px solid var(--transparent-secondary);

  color: var(--secondary);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--blue);
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
